#artists{
    background: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

#artists{
    width: 100%;
    padding: 70px 0;
    padding-right: 50px;
}

.title-text{
    text-align: center;
    padding-bottom: 70px;
}


.title-text p{
    margin: auto;
    font-size: 20px;
    color: darkblue;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text h1{
    font-size: 50px;
}

.title-text p::after{
    content: '';
    width: 80px;
    height: 55px;
    background: linear-gradient( rgba(0, 0, 139, 0.753), white);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(20deg);
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
}

.artist-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.artist{
    flex-basis: 50%;
}

.artist-img{
    flex-basis: 50%;
    margin: auto;
}

.artist-img img{
    width: 70%;
    border-radius: 10px;
}

.artist h1{
    text-align: center;
    margin-bottom: 10px;
    color: darkblue;
    font-size: 30px;
    font-weight: bold;
}

.artist p{
    display: flex;
    align-items: center;
    
    margin-bottom: 40px;
}

