#banner{
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.banner-text{
    text-align: center;
    color: darkblue;
    padding-top: 180px;

}

.banner-text h1{
    font-size: 90px;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
      
}

.banner-text p{
    font-size: 20px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.555);

}

.banner-btn{
    margin: 10px auto 0;
}

.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 0;
    color: white;
    border: 0.5px solid rgba(22, 0, 90, 0.892);
    border-radius: 30px;
    background-color: rgba(0, 0, 139, 0.582);
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-btn a:hover span{
    width: 100;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover{
    color: rgb(255, 255, 255);
    background: darkblue;
    
}

#side-nav{
    width: 180px;
    height: 100vh;
    position: fixed;
    right: -200;
    top: 0;
    /*rgba(0, 11, 133, 0.641);*/
    background:  rgba(0, 0, 139, 0.753);
    z-index: 2;
    transition: 0.5s;
}

nav ul li{
    list-style: none;
    margin: 70px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

#menuBtn{
    width: 40px;
    height: 30px;
    background-color: rgba(0, 11, 133, 0.641);
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 5px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img{
    width: 20px;
    margin-top: 5px;
}
